.footer {
    width: 90%;
    margin: 0 auto;
    color: black;

    // WRAPPER FOOTER
    .footer-main {
        display: flex;
        text-align: center;
        flex-direction: column;
        width: 100%;
        align-items: center;

        // PARTIE GAUCHE
        .footer-left {
            width: 25%;

            li {
                list-style: none;
                line-height: 35px;

                &:first-child {
                    font-weight: 600;
                }
            }
        }

        // PARTIE CENTRALE
        .footer-center {
            width: 300px;

            .h3-title {
                font-size: 50px;
                font-weight: 200;
                margin: 0 0 50px;
            }

            .fa-twitter,
            .fa-instagram {
                padding-left: 20px;
                color: black;
                font-size: 2em;
            }
        }

        // PARTIE DROITE
        .footer-right {
            width: 25%;

            li {
                list-style: none;
                line-height: 35px;

                &:first-child {
                    font-weight: 600;
                }
            }
        }

    }

    // POWERED BY
    p {
        width: 100%;
        text-align: center;
        display: inline-block;
    }

    a {
        color: lightgrey;
    }
}

@media (max-width: 768px) {
    .footer {

        .footer-main {
            flex-direction: column;
            text-align: center;

            // PARTIE GAUCHE
            .footer-left {
                width: 100%;
            }

            // PARTIE CENTRALE
            .footer-center {
                display: none;
            }

            // PARTIE DROITE
            .footer-right {
                width: 100%;
            }

            ul {
                width: 100%;
                padding: 0;

                li {
                    font-size: 12px;
                    width: 100%;
                }

            }
        }
    }
}